@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(4, 4, 4, 0.96), rgba(38, 35, 35, 0.5)), url('../../public/bg2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.chokokutai-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}
